body {
	background: #2196f3;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

#chat-box {
	margin-top: 100px;
  background-color: #fff;
  padding: 15px;
}

form input {
	background: #f5f5f5;
	width: 85%;
	padding: 10px;
	border: 1px solid #d5d5d5;
}

form button {
	background: #ff4081;
	color: #fff;
	font-weight: bold;
	border: none;
	width: 10%;
	padding: 10px;
	margin-left: 20px;
}